* {
	margin: 0;
	padding: 0;
}
html {
	/*height: 100%;*/
	/*overflow: hidden;*/
}
body {
	font-size: 12px;
	height: 100%;
	background: linear-gradient(#333333, black) no-repeat;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
/*导航栏样式*/
header nav {
	width: 960px;
	height: 60px;
	margin: 10px auto 0 auto;
	/*background: #333333;*/
	background: black;
	color: white;
	/*font-family: Myriad Pro, 宋体, 黑体;*/
	overflow: hidden;
}
header nav ul#navbar li {
	width: 80px;
	height: 35px;
	display: inline-block;
	padding: 15px 20px 10px 20px;
	text-align: center;
	line-height: 35px;
}
header nav ul#navbar li a {
	color: #D3D3D3;
	font-size: 1.5em;
	font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
.active {
	background: #B8860B;
}
.highlight {
	background: #4B0082;	
}
/*主内容区样式*/
#content {
	width: 960px;
	height: 640px;
	margin: auto;
	background: linear-gradient(#111, #333);
	position: relative;
}
#indexImg {
	position: absolute;
	z-index: 1;
}
#mask {
	width: 960px;
	height: 640px;
	position: absolute;
	z-index: 2;
	background: #111;
	opacity: 0.8;
}
.into {
	width: 100%;
	height: 200px;
	position: absolute;
	z-index: 6;
	color: white;
	background: #333;
	text-align: center;
	top: 160px;
	opacity: 0.8;
}
 .into p {
 	font-size: 6em;
 	overflow: hidden;
 	position: relative;
 	top: 50px;
 }
.into button {
 	width: 40px;
 	height: 40px;
 	font-size: 0.3em;
 	position: absolute;
 	top: 30px;
 	right: 120px; 
 	background: #666;
 	color: #fff;
 	border-radius: 8px;
 	opacity: 0.6;
 }
 .into button:hover {
 	cursor: pointer;
 }
 #begin {
 	opacity: 0.0;
 	z-index: 3;
 }

 /*页脚样式*/
 footer {
 	color: #999;
 	font-size: 1.5em;
 	text-align: center;
 	margin-top: 30px;
 	margin-bottom: 20px;
 	font-family: font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
 }